nvim/.config/nvim/undodir
!nvim/.config/nvim/undodir/.gitkeep
nvim/.config/nvim/bundle/*
!nvim/.config/nvim/bundle/Vundle.vim
nvim/.config/nvim/autoload
nvim/.config/nvim/colors
emacs/.config/emacs/elpa/
emacs/.config/emacs/elpaca/
emacs/.config/emacs/autosave/
emacs/.config/emacs/auto-save-list/
emacs/.config/emacs/backups/
emacs/.config/emacs/undo/
emacs/.config/emacs/eln-cache/
emacs/.config/emacs/.org-id-locations
emacs/.config/emacs/bookmarks
emacs/.config/emacs/org-roam.db
emacs/.config/emacs/places
emacs/.config/emacs/tramp
emacs/.config/emacs/.lsp-session-*
*.elc
