/* ### ###    PhotonUI Sharp Tabs, Non floating    ### ### */
@import "non_floating_sharp_tabs.css";

/* DISABLE URL BORDER FATNESS */

#nav-bar{ --toolbar-field-focus-border-color: transparent}


/* This gets rid of the shadow, prevents the expansion of the URL bar*/

/* #urlbar:focus-within > #urlbar-background { */
/*     box-shadow: none !important; */
/*     border-color: -moz-accent-color !important; */
/*     border-width: 1px !important; */
/* } */

#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0 !important;
    padding-inline: 0 !important;
}


:root {
  --tabpanel-background-color: rgb(3, 3, 3) !important;
  --newtab-text-primary-color: rgb(3, 3, 3) !important;
  --tab-selected-bgcolor: rgb(3, 3, 3) !important;
}

/* Increase favicon size */

/* .tab-icon-image, .tab-icon-overlay { width: 19px !important; height: 19px !important; }  */


/* Source file https://teddit.net/r/FirefoxCSS/comments/oiycgx/restore_tab_separator_lines/h4yuli3/#c */

/* Bring back tab separator lines that were removed in Proton */

.tabbrowser-tab:not(:hover, [beforehovered], [selected], [last-visible-tab], [beforeselected-visible])::after {
  content: "";
  display: block;
  border-left: 1px solid currentColor;
  margin-block: 1px;
  margin-left: -1px;
  opacity: 0.3;
}


/* No round shapes */

* {
  border-radius: 0 !important;
 }

*::selection {
  background-color: #fe3198 !important;
  color: #fbf5f3 !important;
}

*::-moz-selection {
  background-color: #fe3198 !important;
  color: #fbf5f3 !important;
}
